* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body, .App {
  min-height: 100vh;
} 

body {
  color: white;
  background: linear-gradient(to bottom, #132e41,#1b5e88);
  font-size: 1rem;
  font-family: Georgia, Cochin , 'Times New Roman', serif;
  line-height: 1;
}
table {
  border-radius: 20px;
}
table > * {
  color: white;
}


.input-div {
  position: relative;
  width: 100%;
}
.input-div input {
  border: none;
  color: #b7bcc0;
  background: #e7edf2;
  display: inline-block;
  width: 100%;
  padding: 1rem;
  padding-left: 2rem;
}
.input-div label {
position: absolute;
top: 50%;
left:.5rem;
transform: translateY(-50%);
}
